.cart-container {
	position: relative;
	display: table;
	// min-height: 60vh;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 25px;
	background-color: white;
	margin: 30px 0;
	width: calc(100% - 50px);
	overflow-y: auto;
	.cart-container--row-title {
		position: sticky;
		top: 0;
		border-bottom: 1px solid var(--main-red-color);
		display: table-row;
		color: var(--main-red-color);
		width: 100%;
	}
	.cart-container--cell-title {
		display: table-cell;
		color: var(--main-red-color);
		border-bottom: 1px solid var(--main-red-color);
		vertical-align: middle;
		padding: 10px;
	}
	.cart-container--row {
		display: table-row;
		position: relative;
	}
	.cart-container--cell {
		display: table-cell;
		border-bottom: 1px solid var(--gray-color);
		vertical-align: middle;
		padding: 10px;

		img {
			width: 100px;
		}
	}
}
.cart-bill {
	position: relative;
	display: flex;
	// width: 100%;
	justify-content: flex-end;
	align-items: center;
	padding: 20px;
	top: auto;
	bottom: 0;
	background-color: var(--gray-color);
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	font-family: "Montserrat", sans-serif;
	font-size: 1.7rem;
	button {
		margin: 0 20px;
	}
}
