.filter {
	width: 300px;
	min-width: 200px;
	min-height: 200px;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	padding: 20px;
	height: fit-content;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	gap: 6px;
	label {
		font-size: 0.75rem;
	}
	.filter__logo {
		color: var(--main-red-color);
		margin-bottom: 10px;
	}
	.select-wrapper,
	.price-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		float: none;

		select,
		input {
			margin: 5px;
			position: relative;
			border: none;
			padding: 10px;
			background-color: var(--gray-color);
			border-radius: 7px;
			-webkit-appearance: none;
			appearance: none;
			width: 100%;
			&:focus {
				outline: none;
			}
		}
		img {
			right: 20px;
			position: absolute;
		}
	}
}
