footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #dddddd;
	background-image: url("./../images/footerBack.svg");
	background-size: 70%;
	background-position-y: 100%;
	background-position-x: center;
	background-repeat: no-repeat;
	padding: 0 5%;
	height: 150px;
	div {
		display: flex;
		align-items: center;
	}
}
