nav {
  display: flex;
  min-height: 70px;
  background-color: var(--main-red-color);
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  a {
    display: flex;
    align-items: center;
    padding: 0 10px;
    padding-right: 50px;
    color: white;
    height: 40px;
    margin: 10px 0;
    max-width: 100px;
    border-left: 1px solid white;
    text-decoration: none;
    font-size: 0.8rem;
    transition: 0.3s;
    &:last-of-type {
      border-right: 1px solid white;
    }
    &:hover {
      color: rgb(211, 211, 211);
    }
  }

  //   &::after {
  //     content: '';
  //     flex: auto;
  //   }
}
