nav {
  position: relative;
  display: flex;
  min-height: 70px;
  background-color: var(--main-red-color);
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  a {
    text-decoration: none;
  }
  .nav__link {
    display: flex;
    align-items: center;
    padding: 0 10px;
    padding-right: 50px;
    color: white;
    height: 40px;
    margin: 10px 0;
    max-width: 100px;
    border-left: 1px solid white;
    text-decoration: none;
    font-size: 0.8rem;
    transition: 0.3s;
    &:last-of-type {
      border-right: 1px solid white;
    }
    &:hover {
      color: rgb(211, 211, 211);
    }
    @media screen and (max-width: 1440px) {
      font-size: 0.7rem;
      padding-right: 20px;
    }
    @media screen and (max-width: 500px) {
      font-size: 0.7rem;
      width: 100%;
    }
  }

  //   &::after {
  //     content: '';
  //     flex: auto;
  //   }
}

.nav--sub-container {
  display: none;
  position: absolute;
  width: 90%;
  background-color: white;
  z-index: 100;
  top: 100%;
  border: 1px solid var(--main-red-color);
  a {
    color: black;
  }
}

.nav--sub-container__element {
  margin: 20px;
  display: flex;
  flex-direction: column;
  img {
    width: 250px;
  }
  span {
    margin: 10px 0px;
    margin-bottom: 0;
  }
}
