.product {
	display: flex;
	margin: 30px 0;
	gap: 150px;
	flex-wrap: wrap;
	justify-content: space-between;
	&::after {
		content: "";
		flex: auto;
	}
	@media screen and (max-width: 500px) {
		// width: 20%;
		// margin: 0 25%;
		gap: 40px;
	}
}

.product__card {
	position: relative;
	width: 150px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	@media screen and (max-width: 500px) {
		width: 40%;
		// margin: 0 25%;
	}
	a {
		position: relative;
		// display: flex;
		color: black;
		text-decoration: none;
	}
	.product__card--face {
		position: relative;
	}
	.product__card--image {
		width: 100%;
	}
	.product__card--price {
		font-size: 2rem;
		font-family: "Montserrat", sans-serif;
		color: var(--main-red-color);
		span {
			font-family: "Montserrat", sans-serif;
			font-size: 1rem;
			color: black;
			text-decoration: line-through;
		}
	}
	.product__card--title {
		font-size: 1rem;
		margin-bottom: 10px;
	}
	.product__card--cart-btn {
		background-color: var(--main-red-color);
		color: white;
		transition: 0.2s;
		&:hover {
			background-color: var(--main-red-color-active);
		}
	}

	.product__card--sale-icon {
		position: absolute;
		left: auto;
		right: -20px;
		top: -10px;
		width: 40%;
		animation: rotate 7s linear infinite;
		@media screen and (max-width: 500px) {
			right: -5px;
		}
	}
	.product__card--sale-text {
		position: absolute;
		left: 0;
		top: auto;
		bottom: 0;
		padding: 5px 10px;
		background-color: #ffc366;
		color: white;
		border-radius: 7px;
		font-size: 0.9rem;
		font-family: "Montserrat", sans-serif;
	}
}
