@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

* {
	--main-red-color: brown;
	font-family: "Raleway", sans-serif;
}

body {
	background-image: url("./../images/mainBackground.svg");
	background-size: cover;
	margin: 0;
	padding: 0;
}
