@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway:wght@700&display=swap");

* {
	--main-red-color: brown;
	--main-red-color-active: rgb(122, 33, 33);
	--gray-color: #e2e2e2;

	--media-phone: 600px;

	font-family: "Raleway", sans-serif;
	transition: 0;
}

body {
	background-image: url("./../images/mainBackground.svg");
	background-size: cover;
	margin: 0;
	padding: 0;
	@media screen and (max-width: 500px) {
		overflow-x: hidden;
	}
}

button {
	cursor: pointer;
	border: none;
	border-radius: 8px;
	padding: 10px;
	display: flex;
	// align-items: center
	gap: 10px;
	width: fit-content;
	background-color: var(--main-red-color);
	color: white;
}

.redBC {
	background-color: var(--main-red-color);
	color: white;
}

.label {
	color: var(--main-red-color);
	margin: 0px 30px;
	font-size: 2rem;
}

.container {
	// display: flex;
	position: relative;
	margin: 20px 5%;
}

.counter {
	font-family: "Montserrat", sans-serif;
	display: flex;
	align-items: center;
	gap: 10px;
	@media screen and (max-width: 500px) {
		gap: 5px;
	}
	button {
		padding: 5px 9px;
		color: black;
		background-color: rgb(168, 168, 168);
		height: fit-content;
		display: flex;
		align-items: center;
	}
	input {
		font-family: "Montserrat", sans-serif;

		padding: 10px 5px;
		width: 22px;
		border: none;
		border-radius: 10px;
		background-color: var(--gray-color);
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}
.flex-container {
	display: flex;
	gap: 60px;
	margin-top: 40px;
	@media screen and (max-width: 500px) {
		flex-direction: column;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
