.user-account__nav {
	display: flex;
	// align-items: center;
	flex-direction: column;
	padding: 25px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10px;
	justify-content: flex-start;
	background-color: white;
	height: fit-content;
	.title {
		color: var(--main-red-color);
	}
	a {
		text-decoration: none;
		color: black;
		line-height: 1.7;
	}
}

.user-account__content {
	display: table;
	flex: 1;
	// align-items: center;
	flex-direction: column;
	padding: 25px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: 10px;
	justify-content: flex-start;
	background-color: white;
	min-height: 55vh;
	line-height: 2;
	b {
		font-size: 1.5rem;
		margin-left: 10px;
	}
	@media screen and (max-width: 500px) {
		overflow: auto;
		font-size: 0.7rem;
		// max-width: 300px;
		table-layout: fixed;
		padding: 10px;

		width: calc(100% - 20px);
		b {
			font-size: 0.7rem;
		}
	}
}
.user-account__content--row-title {
	position: sticky;
	top: 0;
	border-bottom: 1px solid var(--main-red-color);
	display: table-row;
	color: var(--main-red-color);
	width: 100%;
}
.user-account__content--cell-title {
	display: table-cell;
	color: var(--main-red-color);
	border-bottom: 1px solid var(--main-red-color);
	vertical-align: middle;
	padding: 10px;
	@media screen and (max-width: 500px) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		&:nth-child(-n + 2) {
			display: none;
		}
	}
}
.user-account__content--row {
	display: table-row;
	position: relative;
}
.user-account__content--cell {
	display: table-cell;
	border-bottom: 1px solid var(--gray-color);
	vertical-align: middle;
	padding: 10px;
	font-family: "Montserrat";
	.paid {
		color: rgb(18, 177, 137);
	}
	.sent {
		color: rgb(215, 228, 99);
	}
	.processing {
		color: rgb(99, 181, 228);
	}
	img {
		width: 100px;
	}
	@media screen and (max-width: 500px) {
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		&:nth-child(-n + 2) {
			display: none;
		}
	}
}
